body {

    background-color: green;


}


#carta { 
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    

}

#numeroCentro {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    top: 60px;
    left: 130px;
   
      
}



#divSimbolo {

    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    top: 5px;
    left: 20px;


}


#divSimbolo2 {

    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    top: 180px;
    left: 300px;


}

